<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".VitalSelfApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34">

        <activity
            android:name=".features.splash.presentation.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.presentation.login.ActivityUserLogin"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".features.auth.presentation.signup.ActivitySignUp"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".features.profile.presentation.ActivityProfile"
            android:exported="false"/>

        <activity
            android:name=".features.scan.presentation.scan.VitalScanActivity"
            android:exported="false"/>
        <activity
            android:name=".features.packages.presentation.PackagesActivity"
            android:exported="false"/>
        <activity
            android:name=".features.scan.presentation.result.VitalResultActivity2"
            android:exported="false"/>

        <activity
            android:name=".features.history.presentation.ScanHistoryActivity"
            android:exported="true"/>
        <activity
            android:name=".features.qrcode.presentation.CaptureActivityPortrait"
            android:exported="true"/>
        <activity
            android:name=".features.qrcode.presentation.QrScanActivity"
            android:exported="true"/>
        <activity
            android:name=".features.onboarding.presentation.ActivityHowToScan"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vital_self.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
